<!DOCTYPE html>
<html>
<%- include common/head.ejs %>
<body>
<main class="wrapper flex-col">
    <h1><%= options.title %></h1>
    <div class="upload-common">
        <div class="type-holder flex-col">
            <textarea rows="25" cols="30" id="input-taximo" type="text"></textarea>
        </div>
        <div>
            <label>
                minimun time:
                <input type="text" disabled id="taximo-response">
            </label>
        </div>
        <button class="upload-holder" onclick="testUpload()">
            Send
        </button>
    </div>
    <div id="uploaded" class="masonry"></div>
</main>
<%- include common/footer.ejs %>
<script src="/scripts/script.js"></script>
</body>
</html>