* {
    margin: 0;
}
html, body {
    height: 100%;
}
/* ---------------- Common styles ------------------ */
body {
    font: 1em/1.5 Arial, Sans-serif;
    margin: 0;
    background: #e9e9e9;
    display: flex;
    flex-direction: column;
}
header, footer, main, div {
    box-sizing: border-box;
}
header, footer {
    background: #465362;
    padding: 1.5em;
    color: #ffffff;
}
footer {
    text-align: center;
}
header a, footer a {
    color: #ffffff;
    opacity: .5;
    transition: .3s;
}
header a:hover, footer a:hover, header li.active a {
    opacity: 1;
    transition: .3s;
}
header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
header nav ul li {
    margin: 0 1em 0 0;
    line-height: 1.2;
    padding: .5em;
}
main {
    flex-grow: 1;
}
img, iframe {
    max-width: 100%;
    height: auto;
    display: block;
}
.flex-col, .flex-row {
    display: flex;
}
.flex-row {
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-col {
    flex-direction: column;
}
.flex-center {
    justify-content: center;
}
.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 1.5em auto;
    text-align: center;
}
.item {
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
    padding: 1.5em;
    margin: .5em .5em;
}
.wrapper .item > img {
    margin: 0 auto;
}
.wrapper .item span {
    display: inline-block;
    margin: 1em 0 0 0;
}
.wrapper .masonry {
    column-count: 4;
    column-gap: 1em;
    padding: 0 .5em;
    overflow: auto;
}
.wrapper .item {
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}
.upload-common {
    min-height: 120px;
}
.type-holder {
    margin: 1.5em 1em 0 0;
}
.type-holder select {
    padding: .6em 1em;
    font-size: 1.25em;
}
.upload-holder {
    overflow: hidden;
    position: relative;
    display: inline-block;
    background-color: #465362;
    color: #ffffff;
    padding: .75em 1em;
    margin: 2em 0 1em;
    border-radius: .25em;
    font-size: 1.25em;
    cursor: pointer;
    border: none;
}
.upload-holder:hover {
    background-color: #3f667e;
}
.upload-holder [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}